<div class="flex flex-col w-full mb-3">
  <div class="flex justify-between items-center">
    <div role="tablist" class="tabs tabs-border tabs-lg text-primary">
      @for (tab of tabs; track $index) {
        <button
          role="tab"
          class="tab"
          value="{{ tab.value }}"
          [hidden]="
            tab.value === 'roles' && !accountService.currentUser()?.roles?.includes('Admin')
          "
          [class.tab-active]="activeTab === tab.value"
          (click)="setTab(tab.value)"
        >
          {{ tab.label }}
        </button>
      }
    </div>
  </div>
</div>
<div class="px-6">

    @if (activeTab === 'roles') {
        <app-user-management />
    }
    
    @if (activeTab === 'photos') {
        <app-photo-management />
    }
    
</div>