@if(member(); as member)
{
<div routerLink="/members/{{member.id}}" class="card rounded-2xl cursor-pointer
transition transition-all duration-300 ease-in-out transform hover:-translate-y-2
 shadow-md overflow-hidden hover:shadow-xl">
  <!-- Image -->
  <!-- src="https://ui-avatars.com/api/?name={{user.displayName}}&background=random" -->
  <img [src]="member?.imageUrl|| 'default_user.jpg'" alt="{{member.displayName}} image"
    class="rounded-lg object-cover" />

  <!-- Content -->
  <div class="card-actions z-20
   absolute bottom-0 w-full px-3 py-1 rounded-b-lg
   bg-gradient-to-t from-black via-black/75 to-black/0
   ">
    <div class="flex flex-col">
      <span class="font-semibold">
        {{ member.displayName }},25
      </span>
      <span class="text-sm text-gray-500 mt-1">
        {{ member.city }}
      </span>
    </div>
  </div>

</div>
}