<div class="flex justify-center px-4 mt-20">
  <div class="card bg-base-100 w-full max-w-xl shadow-lg p-6 rounded-lg">
    
    <form class="flex flex-col gap-4 w-full" [formGroup]="changePwdForm">
      <div class="card-title justify-center text-3xl text-primary">
        Change Password
      </div>

      <app-text-input
        class="mt-2"
        label="Old Password"
        type="password"
        formControlName="oldPassword"
      />

      <app-text-input
        label="New Password"
        formControlName="newPassword"
        type="password"
      />

      <app-text-input
        label="Confirm Password"
        formControlName="confirmPassword"
        type="password"
      />

      <ngx-recaptcha2
        #captchaElem
        [siteKey]="siteKey"
        formControlName="recaptcha"
        (success)="handleSuccess($event)"
      ></ngx-recaptcha2>

      <div class="flex items-center justify-end gap-3">
        <button class="btn">Cancel</button>

        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!changePwdForm.valid"
          (click)="changePassword()"
        >
          Update
        </button>
      </div>

    </form>

  </div>
</div>